<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Article</title>
    </head>
    <body>
    	<div class="container">
    		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
    	</div>
    </body>
</html>
