<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Article</title>
    </head>
    <body>
    	<div class="container">
    		<h1>{{ article.title }}</h1>
    		<br>
    		<p>
    			{{ article.content }}
    		</p>
	        <a href="/">Back</a>
    	</div>
    </body>
</html>
